<nav>
  <div class="container">
    <div id="icon" class="fontawesome-cog"></div>
    <ul>
      <li><a href="#">Item 1</a></li>
      <li><a href="#">Item 2</a></li>
      <li><a href="#">Item 3</a></li>
      <li><a href="#">Item 4</a></li>
      <li><a href="#">Item 5</a></li>
    </ul>
  </div>
</nav>
<header>
  <div class="container">
    <h1>Opacity on scroll</h1>
  </div>
</header>
<div id="nav-bg"></div>
<section id="about">
  <div class="container">
    <p>
      text
    </p>
  </div>
</section>
